.btn.btn-primary {
  background-color: #6441a5;
}

.btn.btn-primary:hover {
  background-color: #3a2560;
}

.btn.btn-ghost.btn-primary {
  margin-top: 7px;
  color: #6441a5;
  border-color: #6441a5;
  background-color: transparent;
}

.btn.btn-ghost.btn-primary:hover {
  color: #fff;
  background-color: #6441a5;
  border-color: #6441a5;
}

.cd-popular .cd-select:hover {
  background-color: #6441a5;
}

.toolbox .search-btn:hover > i,
.form-element > button[type=submit]:hover,
a, a:hover, .text-primary,
.navbar-light .main-navigation > .menu > li.current-menu-item > a,
.navbar-light .main-navigation > .menu > li:hover > a,
.navbar-light.stuck .main-navigation > .menu > li:hover > a, .navbar-light.stuck .main-navigation > .menu > li.current-menu-item > a, .navbar-light.stuck .main-navigation > .menu > li.current_page_item > a, .navbar-light.stuck .main-navigation > .menu > li.current-menu-ancestor > a, .navbar-light.stuck .main-navigation > .menu > li.current-menu-parent > a,
.search-box button[type="submit"],
.search-box.static button[type="submit"]:hover,
.mobile-tools .search-box button[type="submit"]:hover,
.nav-tabs > li > a:hover,
.page-title .title .back-btn:hover,
.page-title .breadcrumbs a:hover,
.page-title.pt-dark .title .back-btn:hover,
.page-title.pt-dark .breadcrumbs a:hover,
.box-with-icon-wrap .box-with-icon .bwi-icon > i,
.panel-heading .panel-title.collapsed:hover,
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.pagination .nav-links a.current,
.pagination .nav-links a:hover,
.pagination .nav-links span.current,
.comment .comment-meta .comment-reply-link:hover,
.comment .comment-meta .comment-reply-link:hover > i,
.comment .comment-meta .comment-reply-link.active > i,
.counters > li > i,
.sharing-links > li > a:hover,
.sharing-links > li > a:hover > i,
.widget_calendar table td#today,
.widget_calendar table th#today,
.widget_calendar table td > a:hover,
.widget_calendar table th > a:hover,
.widget_authors .author-row .author:hover h4,
.widget_tags .tag:hover,
.post-tags .tag:hover,
.post-taxonomy a:hover,
.scroll-to-top-btn:hover,
.footer .footer-nav > ul > li > a:hover,
.footer.footer-dark .footer-nav > ul > li > a:hover,
.side-nav.dark-skin > ul > li:hover > a,
.side-nav.dark-skin > ul > li.active > a,
.post-tile .post-meta .post-date a:hover,
.post-tile .post-meta .comments-count a:hover,
.post-tile .post-meta .post-author a:hover,
.post-tile .post-meta .post-taxonomy a:hover,
.post-tile .post-body .post-title > a:hover,
.footer.footer-dark .share-btn:hover,
.footer .share-btn:hover,
.footer.footer-dark .share-btn:hover > i,
.footer .share-btn:hover > i,
.tile.tile-with-icon i,
.cd-popular .cd-pricing-header,
.cd-popular .cd-currency,
.cd-popular .cd-duration {
  color: #6441a5;
}

.sharing-links.light-skin > li > a:hover,
.sharing-links.light-skin > li > a:hover > i,
.post-tile .post-thumb .post-meta .post-date a,
.post-tile .post-thumb .post-meta .comments-count a {
  color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #6441a5;
}

.nav-tabs > li > a:hover .icon-list span,
.nav-tabs > li.active > a .icon-list span {
  border-top-color: #6441a5;
  border-bottom-color: #6441a5;
}

.nav-tabs > li > a:hover .icon-list span:after, .nav-tabs > li > a:hover .icon-list span:before,
.nav-tabs > li.active > a .icon-list span:after,
.nav-tabs > li.active > a .icon-list span:before {
  background-color: #6441a5;
}

.nav-filters > li > a:hover,
.nav-filters > li > a:hover > i,
.nav-filters > li.active > a,
.nav-filters > li.active > a > i {
  color: #6441a5;
}

.main-navigation > .menu li:hover > a,
.main-navigation > .menu li.current-menu-item > a,
.main-navigation > .menu li.current_page_item > a,
.main-navigation > .menu li.current-menu-ancestor > a,
.main-navigation > .menu li.current-menu-parent > a,
.submenu-dark .main-navigation > .menu > li .sub-menu > li:hover > a,
.submenu-dark .main-navigation > .menu > li .sub-menu > li.current-menu-item > a,
.submenu-dark .main-navigation > .menu > li .sub-menu > li.current_page_item > a,
.submenu-dark .main-navigation > .menu > li .sub-menu > li.current-menu-ancestor > a,
.submenu-dark .main-navigation > .menu > li .sub-menu > li.current-menu-parent > a {
  color: #6441a5;
}

.main-navigation > .menu > li.menu-item-has-children > a:before,
.page-title h1:before,
.block-title:before,
.bg-primary, .list-featured li:before,
.pricing-table > table thead .plan-name .label.label-primary,
.widget_tags .tag:hover span,
.post-tags .tag:hover span,
.nav-filters > li > a:hover .icon-list span:after,
.nav-filters > li > a:hover .icon-list span:before,
.nav-filters > li.active > a .icon-list span:after,
.nav-filters > li.active > a .icon-list span:before,
.footer.footer-dark .share-btn:hover .count,
.footer .share-btn:hover .count,
.owl-carousel .owl-controls .owl-dots .owl-dot:before,
.page-404 h1:before,
.cd-handle,
.cd-pricing-switcher .cd-switch,
.cd-popular .cd-select {
  background-color: #6441a5;
}

.cd-handle.draggable {
  background-color: #6441a5;
}

.cd-popular .cd-pricing-features li:nth-of-type(2n+1) {
  border-left: 2px solid #6441a5;
  border-right: 2px solid #6441a5;
}

.box-with-icon:hover .box-with-icon-icon,
.box-with-image:hover .box-with-icon-icon {
  color: #6441a5;
  border-color: #6441a5;
}

.box-with-icon.light-skin:hover .box-with-icon-icon,
.box-with-image.light-skin:hover .box-with-icon-icon {
  color: #fff;
  border-color: #fff;
}

.cd-popular .cd-pricing-wrapper > li {
  box-shadow: inset 0 0 0 2px #6441a5;
}

.scroll-to-top-btn:hover,
.owl-carousel .owl-controls .owl-dots .owl-dot.active,
.widget_tags .tag:hover,
.post-tags .tag:hover,
.testimonial .testimonial-author-ava,
.teammate .teammate-ava span,
.device-gallery-thumbs .thumb-list .thumb.active {
  border-color: #6441a5;
}

.video-popup-placeholder .play-btn:before {
  border-left-color: #6441a5;
}

.side-nav > ul > li:hover > a,
.side-nav > ul > li.active > a {
  color: #6441a5;
}

.side-nav > ul > li.active > a {
  border-left-color: #6441a5;
}

.side-nav > ul > li.dark-skin > ul > li:hover > a,
.side-nav > ul > li.dark-skin > ul > li.active > a {
  color: #6441a5;
}

.video-popup-btn:hover {
  color: #6441a5;
  border-color: #6441a5;
}

.video-popup-btn.light-skin:hover {
  color: #6441a5;
  border-color: transparent;
}

.widget_archive > ul li a:hover,
.widget_categories > ul li a:hover,
.widget_pages > ul li a:hover,
.widget_recent_comments > ul li a:hover {
  color: #6441a5;
}

.widget_archive > ul li.active a,
.widget_archive > ul li.current-cat a,
.widget_categories > ul li.active a,
.widget_categories > ul li.current-cat a,
.widget_pages > ul li.active a,
.widget_pages > ul li.current-cat a,
.widget_recent_comments > ul li.active a,
.widget_recent_comments > ul li.current-cat a {
  color: #6441a5;
}

.nav-filters > li > a:hover .icon-list span,
.nav-filters > li.active > a .icon-list span {
  border-top-color: #6441a5;
  border-bottom-color: #6441a5;
}

@media screen and (max-width: 991px) {
  .navbar .mobile-dropdown .main-navigation > .menu > li.menu-item-has-children.open > a {
    color: #6441a5;
  }
  .navbar .mobile-dropdown .main-navigation > .menu > li.menu-item-has-children.open > a > a:hover,
  .navbar .mobile-dropdown .main-navigation > .menu > li .sub-menu > li > a:hover {
    color: #6441a5;
  }
  .navbar .mobile-dropdown .main-navigation > .menu > li.menu-item-has-children.open > a.current-menu-item > a,
  .navbar .mobile-dropdown .main-navigation > .menu > li.menu-item-has-children.open > a.current_page_item > a,
  .navbar .mobile-dropdown .main-navigation > .menu > li .sub-menu > li.current-menu-item > a,
  .navbar .mobile-dropdown .main-navigation > .menu > li .sub-menu > li.current_page_item > a {
    color: #6441a5;
  }
}

.color-switcher .toggle:hover {
  color: #6441a5 !important;
}